@charset "UTF-8";
/* CSS Document created by Christy Chatmon, Spring 2019*/

body {
	font-family: Garamond Header;
	font-size: 13px;
	line-height: 1.6em;
	color: #96B97A;
	background-color: #8B0000;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #D3D3D3;
}
h1 {
	font-size: 39px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
}
h2 { 
	font-size: 30px;
	padding: 10px;
	font-variant: small-caps;
	letter-spacing: 0.2em;
	background-color: #4E7B96;
}
h3 {
	font-size: 30px;
	letter-spacing: 0.1em;
	border-bottom-width: 7px;
	border-bottom-style: inset;
	border-bottom-color: #4E7B96;
	padding: 10px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: small-caps;
	color: #4E7B96;
	text-decoration: none;
}
a:visited {
	font-weight: small-caps
	color: #4E7B96;
	text-decoration: none;
}
a:hover {
	color: #FDF600;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #4E7B96 1px;
}
td {
	padding: 6px;
	border: solid #999933 1px;
}
th {
	font-weight: bold;
	background-color: #8B0000;
	text-align: center;
	padding: 8px;
	border: solid #999933 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #4E7B96 1px;
}

img {
	border: none 1px;

}

iframe {
	border: none 1px;
	padding: 40px;
	margin: 100px;
}
